<div class="cart-title">Your Pragmatic Cart</div>
<table>
  <%= render :partial=>'cart_item', :collection=>cart.items %>
  <tr class="total-line">
    <td colspan="2">Total</td>
    <td class="total-cell"><%= number_to_currency(@cart.total_price, :format=>"%n%u", :unit=>'€') %> </td>
  </tr>
</table>

<!-- veure http://www.pragprog.com/wikis/wiki/Pt-F-1 -->
<%= button_to "Checkout", {:action => :checkout} unless (request.request_uri == '/store/checkout') %>
<%= button_to 'Empty cart', :action=>:empty_cart %>
