<html>
  <head>
    <title>Listing Files!</title>
  </head>
  <body>
    <h1>Your files, sir</h1>
    <ol>
    <% @files.each do |name| %>
      <li> <%= name -%> </li>
    <% end %>
    </ol>
    <ul>
      <li>Say <%= link_to "Hello", :action=>:hello %> again. </li>
      <li>Time to say <%= link_to "Goodbye!", :action=>:goodbye %></li>
    </ul>
  </body>
</html>
