<html>
  <head>
    <title>See You Later!</title>
  </head>
  <body>
    <h1>Goodbye!</h1>
    <p>
      It was nice having you here.
    </p>
    <ul>
      <li>Say <%= link_to "Hello", :action=>:hello %> again. </li>
      <li>Files <%= link_to "Gimme your Files!", :action=>:files %></li>
    </ul>
  </body>
</html>
