<html>
  <head>
    <title>Hello, Rails!</title>
  </head>
  <body>
    <h1>Hello from Rails!</h1>
    <p>
      It is now: <%= @time %>
    </p>
    <ul>
      <li>Time to say <%= link_to "Goodbye!", :action=>:goodbye %></li>
      <li>Files <%= link_to "Gimme your Files!", :action=>:files %></li>
    </ul>
  </body>
</html>
